
@{
    ViewBag.Title = "ViewSales";
}

<h2>ViewSales</h2>


<input type="button" value="Date Wise Sales" onclick="window.location.href = '@Url.Action("ViewDateSales", "FoodCourt")'" />
<input type="button" value="Date To Date Sales" onclick="window.location.href = '@Url.Action("DateToDateSales", "FoodCourt")'" />


